<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.frank.cloud.bbs.core.service.dao.ForumDao">

	<!-- 新增模块信息 -->
	<insert id="insertForum" parameterType="com.frank.cloud.bbs.core.common.model.DO.ForumDO">
		INSERT INTO t_bbs_forum
		(forum_name,parent_id,memo)
		VALUES (
		#{forumName},
		#{parentId},
		#{memo}
		)
		<selectKey resultType="Long" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID() AS id
		</selectKey>
	</insert>

	<!-- 获取模块信息 -->
	<select id="queryForumById" parameterType="Long"
		resultType="com.frank.cloud.bbs.core.common.model.DO.ForumDO">
		SELECT
		t.id id,
		t.forum_name forumName,
		t.memo memo,
		t.parent_id parentId
		FROM t_bbs_forum t
		<if test="_parameter != null">WHERE id = #{_parameter}</if>
	</select>

	<select id="queryAllForumUser" parameterType="string"
		resultType="com.frank.cloud.bbs.core.common.model.DO.ForumDO">
		<if test="_parameter == null">
			SELECT
			t1.id id,
			t1.forum_name forumName,
			t1.memo memo,
			t1.parent_id parentId
			FROM t_bbs_forum t1
		</if>
		<if test="_parameter != null">
			SELECT
			t1.id id,
			t1.forum_name forumName,
			t1.memo memo,
			t1.parent_id parentId
			FROM t_bbs_forum t1,
			t_bbs_forum_admin t2
			where t1.id = t2.forum_id
			and t2.user_id = #{_parameter}
		</if>
	</select>

	<!-- 删除模块 -->
	<delete id="deleteForum" parameterType="long">
		DELETE FROM t_bbs_forum WHERE id = #{id}
	</delete>

	<!-- 更新模块信息 -->
	<update id="updateForum" parameterType="com.frank.cloud.bbs.core.common.model.DO.ForumDO">
		UPDATE t_bbs_forum
		<set>
			<if test="forumName != null">forum_name = #{forumName},</if>
			<if test="parentId != null">parent_id = #{parentId},</if>
			<if test="memo != null">memo = #{memo},</if>
		</set>
		WHERE id = #{id}
	</update>

	<!-- 根据板块获取版主信息 -->
	<select id="queryModerator" parameterType="long"
		resultType="com.frank.cloud.bbs.core.common.model.DO.UserDO">
		SELECT t1.user_id userId,
		t1.nick_name nickname,
		t1.avatar avatar
		FROM t_bbs_user t1,
		t_bbs_forum_admin t2
		WHERE t1.user_id = t2.user_id
		AND t2.forum_id = #{id}
	</select>

	<select id="queryModeratorId" parameterType="long" resultType="String">
		SELECT user_id
		FROM t_bbs_forum_admin
		WHERE forum_id = #{id}
	</select>

	<select id="queryForumByUser" parameterType="string" resultType="Long">
		SELECT forum_id
		FROM t_bbs_forum_admin
		WHERE user_id = #{userId}
	</select>

	<delete id="deleteModerator" parameterType="hashmap">
		DELETE from t_bbs_forum_admin
		WHERE forum_id = #{forumId}
		<if test="ids != null">
			AND user_id in
			<foreach collection="ids" item="item" index="index" open="("
				separator="," close=")">
				#{item}
			</foreach>
		</if>
	</delete>

	<insert id="addModerator"
		parameterType="com.frank.cloud.bbs.core.common.model.DO.ForumAdminDO">
		INSERT INTO t_bbs_forum_admin
		(forum_id,user_id)
		VALUES (
		#{forumId},
		#{userId}
		)
		<selectKey resultType="Long" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID() AS id
		</selectKey>
	</insert>
</mapper>
