<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="true">
    <property name="LOG_HOME" value="/app/bbs/registry-center/logs"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="REGISTRY-CENTER"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/registry-center.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${LOG_HOME}/frank-cloud-injection-mq-rabbit.%i.log.zip
            </fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>20</maxIndex>
        </rollingPolicy>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} %msg%n
            </pattern>
            <charset>UTF-8</charset>
        </encoder>

        <triggeringPolicy
                class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>500MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <logger name="org.springframework" level="WARN" additivity="false">
        <appender-ref ref="REGISTRY-CENTER"/>
    </logger>
    <logger name="sun.rmi" level="WARN" additivity="false">
        <appender-ref ref="REGISTRY-CENTER"/>
    </logger>
    <logger name="com.frank.cloud" level="INFO" additivity="false">
        <appender-ref ref="REGISTRY-CENTER"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="REGISTRY-CENTER"/>
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>